@mixin slope() {
    @supports (clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%)) {
        &--slope-left {
            clip-path: polygon(0 3rem, 100% 0, 100% 100%, 0% calc(100% - 3rem));
            margin-bottom: -2.5rem;
            z-index: 1;
            padding-bottom: 3rem;
            padding-top: 3rem;
        }

        &--slope-right {
            clip-path: polygon(0 0, 100% 3rem, 100% calc(100% - 3rem), 0% 100%);
            margin-bottom: -2.5rem;
            z-index: 1;
            padding-bottom: 3rem;
            padding-top: 3rem;
        }

        &--slope-left-bottom {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 3rem));
            margin-bottom: -2.5rem;
            z-index: 1;
            padding-bottom: 3rem;
        }

        &--slope-right-bottom {
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3rem), 0 100%);
            margin-bottom: -2.5rem;
            z-index: 1;
            padding-bottom: 3rem;
        }

        &--slope-left-top {
            clip-path: polygon(0 3rem, 100% 0, 100% 100%, 0 100%);
            z-index: 1;
            padding-top: 3rem;
        }

        &--slope-right-top {
            clip-path: polygon(0 0, 100% 3rem, 100% 100%, 0 100%);
            z-index: 1;
            padding-top: 3rem;
        }
    }
}