input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
	font-family: 'Roboto', sans-serif;
	outline: none;
	border: none;
	background-color: #fff;
	background-clip: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 5px;
	margin: 10px 0px 0px 0px;
	vertical-align: middle;
	text-align: left;
	box-shadow: inset 0 0 0 1px $outline-color;
	height: 40px;
	font-size: 1.6rem;
	font-weight: 400;
	color: #262626;
	line-height: 1.2rem;
	padding: 10px 14px;
	resize: none;
	width: 100%;
	display: block;
	&:focus, &.focus {
		box-shadow: inset 0 0 0 1px $focus-colour, 0 0 0 1px $focus-colour;
	}
	&.error {
		box-shadow: inset 0 0 0 1px $error-colour;
		&:focus, &.focus {
			box-shadow: inset 0 0 0 1px $error-colour, 0 0 0 1px $error-colour;
		}
		& + span {
			color: $error-colour;
			& + span {
				display: none;
			}
		}
	}
	& + span {
		margin-top: 7px;
		color: rgb(128, 128, 128);
		margin-bottom: 10px;
		font-weight: 400;
		font-size: 1.3rem;
		display: block;
	}
}

select {
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	outline: none;
	border: none;
	box-shadow: inset 0 0 0 1px $outline-color;
	background-color: #fff;
	-webkit-appearance: menulist-button;
	border-radius: 5px;
	margin: 10px 0px 0px 0px;
	vertical-align: middle;
	font-size: 1.6rem;
	font-weight: 400;
	color: #262626;
	padding: 10px 14px;
	&:focus, &.focus {
		box-shadow: inset 0 0 0 1px $focus-colour, 0 0 0 1px $focus-colour;
	}
}



form {
	margin-top: 10px;
	&:first-child {
		margin-top: 0px;
	}
	label {
		display: block;
		font-weight: 300;
		font-size: 1.4rem;
		color: rgb(128, 128, 128);
		margin-top: 10px;
		&:first-child {
			margin-top: 0px;
		}
		& + input {
			margin-top: 7px !important;
		}
	}	
}

button {
	font-family: 'Roboto', sans-serif;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	border-radius: 5px;
	margin: 10px 0px 0px 0px;
	vertical-align: middle;
	text-align: center;
	box-shadow: inset 0 0 0 1px $outline-color;
	height: 40px;
	font-size: 1.6rem;
	color: #262626;
	line-height: 1.2rem;
	font-weight: 400;
	padding: 10px 14px;
	display: block;
	background-color: #fff;
	cursor: pointer;
	box-sizing: border-box;
	&.fill {
		width: 100%;
	}
	&.primary {
		background-color: $focus-colour;
		color: white;
	}
	&.disabled, &[disabled] {
		color: white;
		background-color: $disabled-colour;
		cursor: not-allowed;
	}
	&:hover, &:focus {
		box-shadow: inset 0 0 0 2px $outline-color;
	}
}