#our-plan {

	header {
		background-image: url(../img/river.jpg);
	}

	.img.opportunity {
		background-image: url('../img/opportunity.jpg');
	}

	.img.experience {
		background-image: url('../img/valley.jpg');
	}

	.img.adventure {
		background-image: url('../img/adventure.jpg')
	}

	.wilderness {
		background-image: url('../img/waterfall.jpg')
	}

	.destinations {
		h2 {
			text-align: center;
			margin-bottom: 0px;	
		}

		.stations {
			width: 100%;
			padding: 30px 105px;
			padding-top: 190px;
			padding-bottom: 46px;
			.line {
				width: 100%;
				height: 6px;
				background-color: $primary-colour;
				position: relative;
				span {
					position: absolute;
					width: 150px;
					margin-left: -75px;
					text-align: center;
					padding-top: 20px;
					font-size: 1.2rem;
					font-weight: 500;
					top: 0px;
					&:nth-of-type(1) {
						left: 0%;
						&:after {
							background-image: url('../img/new-norfolk.jpg');
						}
					}
					&:nth-of-type(2) {
						left: 33.33%;
						&:after {
							background-image: url('../img/plenty.jpg');
						}
					}
					&:nth-of-type(3) {
						left: 66.66%;
						&:after {
							background-image: url('../img/westerway.jpg');
						}
					}
					&:nth-of-type(4) {
						left: 100%;
						&:after {
							background-image: url('../img/national-park.jpg');
						}
					}
					&:before {
						content: '';
					    width: 6px;
					    height: 6px;
					    border: 6px solid $primary-colour;
					    margin-left: -6px;
					    left: 50%;
					    top: -6px;
					    background-color: #fff;
					    border-radius: 16px;
					    box-sizing: content-box;
					    position: absolute;
					}
					&:after {
						content: '';
						width: 200px;
						height: 140px;
						background-size: cover;
						background-position: center center;
						border-radius: 3px;
						margin-left: -100px;
						position: absolute;
						left: 50%;
						top: -160px;
					}
				}
			}
		}
		@media (max-width: $breakpoint-phone) {
			.stations {
				.line {
					width: 6px;
					height: 300px;
				}
			}
		}
	}
}