@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'reset';
@import 'fonts';

html {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

.container {
	@include media-breakpoint-down(md) {
		width: 100%;
		max-width: none;
	}
}

header {
	position: relative;
	background-position: center center;
	background-size: cover;

	.shader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 38%, rgba(0,0,0,1) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 38%,rgba(0,0,0,1) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 38%,rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.4);
			z-index: 20;
			position: absolute;
		}
	}

	.container {
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		z-index: 2;

		.content {
			max-width: 35rem;
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.70);

			@include media-breakpoint-down(xs) {
				margin: 0 auto;
				text-align: center;
			}
		}
	}

	&.jumbo {
		.container {
			height: 600px;
			justify-content: center;
			align-items: center;

			.content {
				max-width: 50rem;
				margin: 0 auto;
				text-align: center;
			}
		}
	}
}

.sidebar {
	background-color: #fff;
	border-radius: 4px;
	border: 1px #e3e3e3 solid;
	list-style: none;

	li {
		display: block;
		border-bottom: 1px solid #fff;

		&.active {
			background-color: #e3e3e3;

			a i {
				background-color: #fff;
			}
		}

		&:last-child {
			border-bottom: 0px;
		}

		a {
			font-size: 1rem;
			display: flex;
			color: #444444;
			padding: .9rem;
			text-decoration: none;
			justify-content: space-between;

			i {
				width: 1.4rem;
				height: 1.4rem;
				border-radius: 0.7rem;
				line-height: 1.4rem;
				background-color: #e3e3e3;

				&:before {
					position: relative;
					right: -1px;
				}
			}

			&:hover {
				background-color: #e3e3e3;
				text-decoration: none;
				i {
					background-color: #fff;
				}
			}
		}
	}
}

#sub-nav {
	background-color: $primary-colour;
	height: 2rem;
	display: flex;
	align-items: center;
	
	.container {
		color: rgba(255, 255, 255, 0.6);
		display: flex;
		justify-content: space-between;
	}

    ul {
		padding: 0;
		margin: 0;
		display: flex;
		list-style: none;

        li {
            font-size: .8rem;
            i {
	            font-size: 1.2em;
            }
            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.6);
                &:hover {
                    color: rgba(255, 255, 255, 0.9);
                }
			}
			
			+ li {
				margin-left: 5px;
			}
        }
	}
	
    @include media-breakpoint-down(sm) {
	    display: none;
    }
}

#main-nav {
    background-color: #fff;
    border-bottom: 1px #e3e3e3 solid;
	display: flex;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 1rem;
		padding-bottom: 1rem;

		> div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			.logo {
				height: 50px;
				width: 229px;
				display: block;
				background-size: 229px 50px;
				background-image: url('../img/logo.png');
			}

			.burger {
				cursor: pointer;
				padding: 10px 11px;
				border-radius: 4px;
				display: none;
				height: fit-content;
				
				span {
					display: block;
					width: 22px;
					height: 2px;
					border-radius: 1px;
					background-color: $primary-colour;
					position: relative;
					left: 0px;
					top: 0px;
					transform-origin: right center;
					transition: transform 0.2s ease, top 0.2s ease;
					
					+ span {
						margin-top: 4px;
					}
				}
				&.active {
					span:nth-of-type(1) {
						top: -2px;
						transform: rotateZ(-45deg);
					}
					span:nth-of-type(2) {
						transform: rotateY(-90deg);
					}
					span:nth-of-type(3) {
						top: 2px;
						transform: rotateZ(45deg);
					}
				}
			}
		}

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
	
			> li {
				list-style: none;
				
				> a {
					color: #666666;
					font-weight: 400;
					font-size: 1.1rem;
					display: block;
					text-decoration: none;
					height: 41px;
					line-height: 41px;
					border-radius: 3px;
					white-space: nowrap;
					padding: 0 .6rem;
					position: relative;
	
					i {
						font-size: 16px;
						margin-right: -7px;
					}
					
					&.active {
						color: #444444;
						background-color: #e3e3e3;
					}
				}
				&:hover {
					> a {
						color: #444444;
						background-color: #e3e3e3;
					}
				}
				
				+ li {
					margin-left: .2rem;
				}

				&.dropdown {
					div {
						display: none;
						padding-top: 8px;
						position: absolute;
						top: 100%;
						right: 0px;
						z-index: 100;
					}
				
					&:hover, &:focus, &:active {
						> div {
							display: block;
						}
					}
				
					ul {
						width: $dropdown-menu-width;
						background-color: #fff;
						border-radius: 4px;
						border: 1px #e3e3e3 solid;
						list-style: none;
				
						li {
							display: block;
							border-bottom: 1px solid #fff;
				
							&.active {
								background-color: #e3e3e3;
				
								a i {
									background-color: #fff;
								}
							}
				
							&:last-child {
								border-bottom: 0px;
							}
				
							a {
								font-size: 1rem;
								display: flex;
								color: #444444;
								padding: .9rem;
								text-decoration: none;
								justify-content: space-between;
				
								i {
									width: 1.4rem;
									height: 1.4rem;
									border-radius: 0.7rem;
									line-height: 1.4rem;
									background-color: #e3e3e3;
				
									&:before {
										position: relative;
										right: -1px;
									}
								}
				
								&:hover {
									background-color: #e3e3e3;
									text-decoration: none;
									i {
										background-color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	@include media-breakpoint-up(md) {
		.container {
			> ul {
				display: flex !important;
			}
		}
	}

    @include media-breakpoint-down(sm) {
	    border-top: 2px solid $primary-colour;
		
		.container {
			flex-direction: column;
			padding-bottom: 0;

			> div {
				padding-bottom: 1rem;
				position: relative;

				.burger {
					display: block;
				}
			}

			> ul {
				display: none;
				width: 100%;
				margin-bottom: 1rem;

				> li {
					> a {
						padding: 0;
						line-height: initial;
						height: initial;

						i {
							display: none;
						}

						&.active {
							background-color: transparent;
							color: $primary-colour;
						}

						&:hover {
							background-color: transparent;
							color: #444444;
						}
					}

					+ li {
						margin-top: 1rem;
						margin-left: 0;
					}

					&.dropdown {
						> a {
							color: #484848;
							font-weight: 600;
							margin-bottom: .7rem;
							pointer-events: none;

							&.active {
								color: $primary-colour;

								+ div {
									border-left: 2px solid $primary-colour;
								}
							}
						}

						> div {
							display: block;
							position: relative;
							padding: 0;
							border-left: 2px solid #666;
							padding-left: .7rem;

							ul {
								border: none;
								width: 100%;

								li {
									border-bottom: none;

									a {
										padding: 0;
										line-height: initial;
										height: initial;
										font-size: 1.1rem;
										color: #666666;
										justify-content: flex-start;

										i {
											background-color: initial;
											margin-right: .4rem;
										}

										.icon-angle-right {
											display: none;
										}

										&:hover {
											background-color: transparent;
											color: #444444;
										}
									}

									&.active {
										background-color: transparent;
										
										a {
											color: $primary-colour;
										}
									}

									+ li {
										margin-top: 1rem;
									}
								}
							}
						}

						&:hover a {
							background-color: transparent;
						}
					}
				}
			}
		}
    }
}

.alternate {
	padding: $grid-gutter-width/2 0;

    .container {
	    .row {
		    > div {
				&:first-child {
					height: 18.75rem;

					.img {
						height: 18.75rem;
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
					}

					@include media-breakpoint-down(sm) {
						margin-bottom: $grid-gutter-width/2;
					}
				}
				
				&:last-child {
					display: flex;
					flex-direction: column;
					justify-content: center;

					.btn {
						width: fit-content;
					}

					@include media-breakpoint-down(sm) {
						align-items: center;

						p {
							text-align: center;
						}
					}
				}
			}
	    }
	}
	
    &:nth-child(even) {
	    background-color: #eeeeee;
	}

	&:nth-child(odd) {
	    .container .row {
			flex-direction: row-reverse;
		}
	}

	&.gradient {
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
		background-position: center center;
		
	    h2, p {
			color: #fff;
			text-shadow: 1px 1px 0px black;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.8);
			background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 35%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.8)), color-stop(35%, rgba(0,0,0,0.8)), color-stop(95%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));
			background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 35%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%);
			background: -o-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 35%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%);
			background: -ms-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 35%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%);
			background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 35%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
		}

		@media (max-width: $breakpoint-phone) {
			&:before{
				background: rgba(0,0,0,0);
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0.8) 65%, rgba(0,0,0,0.8) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(5%, rgba(0,0,0,0)), color-stop(65%, rgba(0,0,0,0.8)), color-stop(100%, rgba(0,0,0,0.8)));
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0.8) 65%, rgba(0,0,0,0.8) 100%);
				background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0.8) 65%, rgba(0,0,0,0.8) 100%);
				background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0.8) 65%, rgba(0,0,0,0.8) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0.8) 65%, rgba(0,0,0,0.8) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
			}
		}
    }
}

footer {
    background-color: #333333;
    color: #a3a3a3;
    font-size: 1rem;
	
    .container {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		padding-top: 3rem;
		padding-bottom: 3rem;

        ul {
			list-style: none;
			display: flex;
			padding: 0;
			margin: 0;

            li {
                list-style: none;

                a {
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        color: #fff;
                        text-decoration: underline;
                    }
				}
				
				+ li {
					margin-left: .8rem;

					@include media-breakpoint-down(sm) {
						margin-left: 0;
					}
				}
            }
        }
	}
	
    @include media-breakpoint-down(sm) {
		position: relative;
		
	    .container {
			flex-direction: column;
			padding-top: $grid-gutter-width;
			padding-bottom: $grid-gutter-width;
			
		    ul {
				flex-direction: column;
			}
			
			div {
				margin-top: 1rem;
			}
	    }
    }
}

.btn {
	i.icon-angle-right {
		margin-right: -0.625rem;
	}
}

.no-underline {
	text-decoration: none !important;
}

@import 'forms';
@import 'alerts';

@import 'home';
@import 'about';
@import 'terms';
@import 'shop';
@import 'tours';
@import 'our-plan';
@import '404';