.nav-sub {
    background-color: $primary-colour;
    color: rgba(255, 255, 255, 0.6);
    
    .container {
		display: flex;
		justify-content: space-between;
	}

    ul {
		padding: 0;
		margin: 0;
		display: flex;
		list-style: none;

        li {
            font-size: .8rem;
            border-left: 1px solid rgb(162, 44, 44);

            &:last-child {
                border-right: 1px solid rgb(162, 44, 44);
            }

            i {
                font-size: 1.2em;
                margin-right: 0.2rem;
            }

            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.6);
                line-height: 2.5rem;
                padding: 0 0.5rem;
                display: block;

                &:hover {
                    color:$primary-colour;
                    background-color: #fff;
                }
			}
        }
	}
}