<footer class="bg-gray-900">
    <section class="container mx-auto px-8 py-16 text-gray-400">
        <div class="flex flex-wrap flex-col sm:flex-row -mx-2">
            <div class="sm:w-1/2 md:w-1/3 md:mb-0 mb-4 px-2">
                <h3 class="text-xl font-bold">Visit Us</h3>
                <p class="mb-1">New Norfolk Station and Workshop</p>
                <p class="mb-1">
                    Station Street, New Norfolk<br>
                    7140, Tasmania, Australia<br>
                </p>
                <p>
                    Open Wednesday and Saturday<br>
                    <b>10:00 am - 4:00 pm</b>
                </p>
            </div>
            <div class="sm:w-1/2 md:w-1/3 md:mb-0 mb-4 px-2">
                <h3 class="text-xl font-bold">Contact Us</h3>
                <p class="mb-1">
                    PO Box 478<br>
                    New Norfolk, 7140<br>
                    Tasmania, Australia
                </p>
                <p class="mb-1">+61 3 6261 1946</p>
                <p class="mb-1">
                    <a href="mailto:dvr@dvr.org.au" class="underline hover:text-white">dvr@dvr.org.au</a>
                </p>
                <div class="flex mt-3">
                    <a class="w-10 h-10 bg-gray-400 inline-block flex items-center justify-center text-gray-900 text-2xl hover:bg-white mr-1 no-underline" href="https://facebook.com/derwentvalleyrailway/"><i class="fab fa-facebook-square"></i></a>
                    <a class="w-10 h-10 bg-gray-400 inline-block flex items-center justify-center text-gray-900 text-2xl hover:bg-white no-underline" href="https://instagram.com/derwentvalleyrailway/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="sm:w-1/2 md:w-1/3 px-2">
                <h3 class="text-xl font-bold">More Information</h3>
                <ul>
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.footer }}
                        <li>
                            <a href="{{ .URL }}" class="underline hover:text-white">
                                {{ .Name }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="mt-4">
            &copy; Derwent Valley Railway Inc. {{ now.Year }}
        </div>
    </section>
</footer>