<header class="w-full h-24 md:h-auto flex flex-col border-gray-400 border-b fixed md:relative top-0 left-0 bg-white z-30 shadow-md">
    <div class="border-t-4 border-red-800"></div>
    <nav class="w-full mx-auto flex justify-between flex-grow items-center p-4 relative">
        <a href="/" class="block">
            <img src="/img/logo.png" class="w-64">
        </a>
        <button class="burger md:hidden">
            <span></span>
        </button>
        <div class="hidden md:flex flex-col items-end flex-shrink-0">
            <div class="flex mb-3 text-sm">
                <a class="text-gray-700 hover:text-red-800 ml-3 no-underline" href="tel:+613626119446"><i class="fas fa-phone mr-1"></i> 03 6261 1946‬</a>
                <a class="text-gray-700 hover:text-red-800 ml-3 no-underline" href="mailto:info@dvr.org.au"><i class="fas fa-paper-plane mr-1"></i> info@dvr.org.au</a>
                <a class="text-gray-700 hover:text-red-800 ml-3 no-underline" href="https://facebook.com/derwentvalleyrailway/"><i class="fab fa-facebook-square mr-1"></i> Facebook</a>
                <a class="text-gray-700 hover:text-red-800 ml-3 no-underline" href="https://instagram.com/derwentvalleyrailway/"><i class="fab fa-instagram mr-1"></i> Instagram</a>
                <!--<li>
                    <a class="text-gray-700 hover:text-red-800 ml-3" href="#"><i class="fas fa-user"></i> Sign In</a>
                </li>-->
            </div>
            <div class="flex text-lg">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <div class="relative group">
                            <a href="#" class="leading-loose px-3 py-1 group-hover:bg-gray-200 block ml-1 flex justify-between items-center no-underline {{ if $currentPage.HasMenuCurrent "main" . }}bg-gray-200{{ end }}">
                                {{ .Name }} <i class="fas fa-chevron-down ml-2 text-gray-600 text-base"></i>
                            </a>
                            <div class="hidden group-hover:block absolute right-0">
                                <div class="mt-2 bg-white w-56 flex flex-col border">
                                    {{ range .Children }}
                                        <a class="leading-loose px-4 py-3 hover:text-black hover:bg-gray-200 block flex justify-between items-center no-underline {{if $currentPage.IsMenuCurrent "main" . }}bg-gray-200{{ end }}" href="{{ .URL }}">{{ .Name }} <i class="fas fa-chevron-right ml-1 text-gray-600 text-base"></i></a>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ else }}
                        <a href="{{ .URL }}" class="leading-loose px-3 py-1 hover:text-black hover:bg-gray-200 block ml-1 no-underline {{ if $currentPage.IsMenuCurrent "main" . }}bg-gray-200{{ end }}">
                            {{ .Name }}
                        </a>
                    {{ end }}
                {{ end }}
                <a class="leading-loose px-3 py-1 bg-yellow-500 text-yellow-900 hover:bg-yellow-600 hover:text-black text-center font-bold block ml-1 giveforms-donation-button no-underline" id="donate-btn" href="https://derwentvalleyrailway.giveforms.com/dvr-website">Donate</a>
            </div>
        </div>
    </nav>
</header>
<div class="sidebar md:hidden w-full fixed top-0 left-0 bottom-0 mt-24 pl-16 flex justify-end z-10">
    <nav class="flex flex-col text-lg bg-white p-4 w-full max-w-xs shadow-md overflow-y-auto">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <div class="relative group">
                    <a href="#" class="leading-loose px-3 py-1 group-hover:bg-gray-200 block border mb-2 flex justify-between items-center no-underline {{ if $currentPage.HasMenuCurrent "main" . }}bg-gray-200{{ end }}">
                        {{ .Name }} <i class="fas fa-chevron-down ml-2 text-gray-600 text-base"></i>
                    </a>
                    <div class="hidden group-hover:block mb-2 -mt-2">
                        <div class="bg-white w-full flex flex-col border border-t-0">
                            {{ range .Children }}
                                <a class="leading-loose px-3 py-1 hover:text-black hover:bg-gray-200 block flex justify-between items-center no-underline {{if $currentPage.IsMenuCurrent "main" . }}bg-gray-200{{ end }}" href="{{ .URL }}">{{ .Name }} <i class="fas fa-chevron-right ml-1 text-gray-600 text-base"></i></a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            {{ else }}
                <a href="{{ .URL }}" class="leading-loose px-3 py-1 hover:text-black hover:bg-gray-200 block border mb-2 no-underline {{ if $currentPage.IsMenuCurrent "main" . }}bg-gray-200{{ end }}">
                    {{ .Name }}
                </a>
            {{ end }}
        {{ end }}
        <a class="leading-loose px-3 py-1 bg-yellow-500 text-yellow-900 hover:bg-yellow-600 hover:text-black text-center font-bold block md:ml-1 giveforms-donation-button mb-2 no-underline" href="https://derwentvalleyrailway.giveforms.com/dvr-website">Donate</a>
        <div class="flex -mx-1 text-center leading-loose">
            <a class="text-gray-700 hover:text-black hover:bg-gray-200 no-underline w-1/4 mx-1 py-1 border" href="tel:+613626119446"><i class="fas fa-phone"></i></a>
            <a class="text-gray-700 hover:text-black hover:bg-gray-200 no-underline w-1/4 mx-1 py-1 border" href="mailto:info@dvr.org.au"><i class="fas fa-paper-plane"></i></a>
            <a class="text-gray-700 hover:text-black hover:bg-gray-200 no-underline w-1/4 mx-1 py-1 border" href="https://facebook.com/derwentvalleyrailway/"><i class="fab fa-facebook-square"></i></a>
            <a class="text-gray-700 hover:text-black hover:bg-gray-200 no-underline w-1/4 mx-1 py-1 border" href="https://instagram.com/derwentvalleyrailway/"><i class="fab fa-instagram"></i></a>
        </div>
    </nav>
</div>