<div class="border-t-4 border-red-800"></div>
<header class="w-100 border-gray-400 border-b">
    <nav class="container mx-auto flex justify-between items-center p-4">
        <a href="/" class="block">
            <img src="/img/logo.png" class="w-64">
        </a>
        <div class="flex flex-col items-end">
            <div class="flex text-sm mb-3">
                <a class="text-gray-700 hover:text-red-800 ml-3" href="tel:+61362611946‬"><i class="fas fa-phone mr-1"></i> 03 6261 1946‬</a>
                <a class="text-gray-700 hover:text-red-800 ml-3" href="mailto:‬info@dvr.org.au"><i class="fas fa-paper-plane mr-1"></i> info@dvr.org.au</a>
                <a class="text-gray-700 hover:text-red-800 ml-3" href="https://facebook.com/derwentvalleyrailway/"><i class="fab fa-facebook-square mr-1"></i> Facebook</a>
                <a class="text-gray-700 hover:text-red-800 ml-3" href="https://instagram.com/derwentvalleyrailway/"><i class="fab fa-instagram mr-1"></i> Instagram</a>
                <!--<li>
                    <a class="text-gray-700 hover:text-red-800 ml-3" href="#"><i class="fas fa-user"></i> Sign In</a>
                </li>-->
            </div>
            <div class="flex text-lg">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <div class="relative group">
                            <a href="#" class="leading-loose px-3 py-1 group-hover:bg-gray-200 block ml-1 {{ if $currentPage.HasMenuCurrent "main" . }}bg-gray-200{{ end }}">
                                {{ .Name }} <i class="fas fa-chevron-down ml-1 text-gray-600 text-base"></i>
                            </a>
                            <div class="hidden group-hover:block absolute right-0">
                                <div class="mt-2 bg-white w-56 flex flex-col border border-gray-400">
                                    {{ range .Children }}
                                        <a class="p-4 hover:bg-gray-200 flex justify-between items-center {{if $currentPage.IsMenuCurrent "main" . }}bg-gray-200{{ end }}" href="{{ .URL }}">{{ .Name }} <i class="fas fa-chevron-right ml-1 text-gray-600 text-base"></i></a>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ else }}
                        <a href="{{ .URL }}" class="leading-loose px-3 py-1 hover:text-black hover:bg-gray-200 block ml-1 {{ if $currentPage.IsMenuCurrent "main" . }}bg-gray-200{{ end }}">
                            {{ .Name }}
                        </a>
                    {{ end }}
                {{ end }}
                <a class="leading-loose px-3 py-1 bg-yellow-500 text-yellow-900 hover:bg-yellow-600 hover:text-black font-bold block ml-1 giveforms-donation-button" id="donate-btn" href="https://derwentvalleyrailway.giveforms.com/dvr-website" >Donate</a>
            </div>
        </div>
    </nav>
</header>