{{ define "main" }}
<main id="home">
    <section class="header header--jumbo header--slope-left-bottom">
        <div class="container">
            <div class="content">
                <h1 class="display-4">Preserving the Derwent Valley's Railway Heritage</h1>
                <a class="btn btn-lg btn-outline-light mt-3" href="/our-plan">Our Plan <i class="icon-angle-right"></i></a>
            </div>
        </div>
        <div class="header__shader"></div>
        <img src="/img/adventure.jpg">
    </section>
    <section class="image-block image-block--slope-right">
        <div class="container">
            <div class="row">
            	<div class="image-block__image-container col-md-6">
                    <img src="/img/who.jpg">
                </div>
	            <div class="image-block__content-container col-md-6">
                    <h2>Who are we?</h2>
                    <p>The Derwent Valley Railway was established in 1990 to preserve the Derwent Valley railway line. We are a not for profit, volunteer based organisation. Currently, we are working closely with the state government to resume services from New Norfolk to Mt Field National Park.</p>
                    <a class="btn btn-outline-dark" href="/about-us/history">Learn More <i class="icon-angle-right"></i></a>
	            </div>
            </div>
        </div>
    </section>
    <section class="image-block image-block--reverse image-block--bg-grey image-block--slope-left">
        <div class="container">
            <div class="row">
                <div class="image-block__image-container col-md-6">
                    <img src="/img/plan.jpg">
                </div>
                <div class="image-block__content-container col-md-6">
                    <h2>Our Plan</h2>
                    <p>The Derwent Valley railway line, from New Norfolk to Mt Field National Park, links many existing tourism operators in the Derwent Valley. We are committed to the re-establishment of the railway which will enable larger numbers of visitors to travel through the valley to experience these activities.</p>
                    <a class="btn btn-outline-light" href="/our-plan">Learn More <i class="icon-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="image-block image-block--slope-right-top">
        <div class="container">
            <div class="row">
                <div class="image-block__image-container col-md-6">
                    <img src="/img/people.jpg">
                </div>
                <div class="image-block__content-container col-md-6">
                    <h2>Volunteering</h2>
                    <p>The Derwent Valley Railway is operated solely by volunteers from a diverse range of backgrounds, professions and age groups. If you would be interested in becoming involved, consider becoming a member online today.</p>
                    <a class="btn btn-outline-dark" href="/about-us/membership">Become a Member <i class="icon-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="bridge">
        <div class="wrapper">
            <p class="container">"We are committed to the re-establishment of tourist rail in the Derwent Valley, linking attractions and experiences from New Norfolk to Mt Field National Park."</p>
        </div>
    </section>
</main>
{{ end }}