{{ define "main" }}
<main id="home">
    <section class="bg-cover bg-center mb-2" style="background-image: url(/img/adventure.jpg)">
        <div class="container mx-auto p-4 py-32 sm:py-48 flex flex-col justify-center items-center">
            <h1 class="text-white text-shadow-md text-5xl md:text-6xl font-bold text-center">Preserving the Derwent Valley's Rail Heritage<span></span></h1>
            <div class="mt-6">
                <a class="button button-lg button-light mx-2" href="/our-plan">Our Plan</a>
                <a class="button button-lg button-light mx-2" href="/tours">Visit Us</a>
            </div>
        </div>
    </section>
    
    {{ .Content }}
    
    <section class="flex py-32 px-4 bg-cover bg-bottom shader" style="background-image: url(/img/bridge.jpg)">
        <div class="max-w-2xl mx-auto px-4 text-white text-center text-2xl">
            "We are committed to the re-establishment of tourist rail in the Derwent Valley, linking attractions and experiences from New Norfolk to Mt Field National Park."
        </div>
    </section>
</main>
{{ end }}