{{ define "head" }}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.googleMapsApiKey }}&signed_in=false&callback=loadMap"></script>
{{ end }}

{{ define "main" }}
<main>
	<section class="container p-8 mx-auto">
		<div class="mb-3">
			{{ .Content }}
		</div>
		<div class="map mb-3 w-full h-64"></div>
		<div class="flex flex-wrap -mx-2 mb-3">
			<div class="w-full md:w-1/2 px-2">
				<h3>New Norfolk Station and Workshop</h3>
				<p>
					Station Street, New Norfolk<br>
					7140, Tasmania, Australia<br>
				</p>
				<p>
					Open Wednesday and Saturday<br>
					<b>10:00 am - 5:00 pm</b>
				</p>
			</div>
			<div class="w-full md:w-1/2 px-2">
				<h3>Postal Address</h3>
				<p>
					PO Box 478<br>
					New Norfolk, 7140<br>
					Tasmania, Australia
				</p>
			</div>
		</div>
		<h3>Phone</h3>
		<p>+61 03 6261 1946</p>
		<h3>General Enquires</h3>
		<p><a href="mailto:dvr@dvr.org.au">dvr@dvr.org.au</a></p>
		<h3>Website and Technical Enquiries</h3>
		<p><a href="mailto:admin@dvr.org.au">admin@dvr.org.au</a></p>
	</section>
	<script>
		function loadMap() {
			var lat_lng = {lat: -42.776440, lng: 147.055414};
			
			var styles = [
				{
					"featureType": "transit.station",
					"stylers": [
						{ "visibility": "off" }
					]
				},{
					"featureType": "poi.attraction",
					"stylers": [
						{ "visibility": "off" }
					]
				}
			];
			
			var map = new google.maps.Map(document.querySelector('.map'), {
				scrollwheel: false,
				zoom: 14,
				center: lat_lng,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				styles: styles   
			});
			
			var marker = new google.maps.Marker({
				position: lat_lng,
				map: map,
				title: 'Derwent Valley Railway Preservation Society Inc.'
			});
		}
	</script>
</main>
{{ end }}