{{ define "main" }}
<main>
    <section class="container p-8 mx-auto">
        <div class="mb-3">
            {{ .Content }}
        </div>
        <div class="flex flex-wrap -mx-2">
            {{ range .Params.officers }}
                <div class="w-full md:w-1/2 px-2 mb-3">
                    <h3>{{ .name }}</h3>
                    <h6>{{ .position }}</h3>
                    <p><a href="mailto:{{ .email }}">{{ .email }}</a></p>
                </div>
            {{ end }}
        </div>
    </section>
</main>
{{ end }}