#governance {
	.row h3:first-child {
		margin-bottom: 0;
	}
    h3.position {
        font-size: 1.6rem;
        color: #6d6d6d;
        font-weight: normal;
        margin-top: 2px;
        margin-bottom: 5px;
    }
}