#tours {
	header {
		background-image: url(../img/workshop.jpg);
	}

	.img.discover {
		background-image: url('../img/discover.jpg');
	}
	.alternate.explore {
		background-image: url('../img/yard.jpg');
	}
	.img.groups {
		background-image: url('../img/groups.jpg');
	}
}