{{ define "main" }}
<main id="our-plan">
	<header class="our-plan">
		<div class="container">
			<div class="content">
				<h1 class="display-4">Our Plan</h1>
				<p class="lead">We are committed to the re-establishment of tourist rail in the Derwent Valley, linking existing attractions and experiences from New Norfolk to Mt Field National Park and beyond.</p>
			</div>
		</div>
		<div class="shader"></div>
	</header>
    <section class="alternate">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="img opportunity"></div>
				</div>
				<div class="col-md-6">
					<h2>A Unique Opportunity</h2>
					<p>The Derwent Valley Railway has the unique opportunity to become the backbone of the Derwent Valley, linking many existing high quality tourism attractions and experiences. Rail has the capacity to transport large volumes of visitors and drive visitor-ship in the local area.</p>
				</div>
			</div>
		</div>
    </section>
    <section class="alternate">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
					<div class="img experience"></div>
				</div>
    			<div class="col-md-6">
					<h2>World Class Experience</h2>
					<p>Once aboard, visitors will be able to sample the fresh produce and high quality boutique products for which the valley is well known, all while enjoying the impressive track-side views in a relaxed environment.</p>
    			</div>
    		</div>
    	</div>
    </section>
    <section class="alternate">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
					<div class="img adventure"></div>
				</div>
    			<div class="col-md-6">
					<h2>Choose Your Adventure</h2>
					<p>The Derwent River and surrounding landscape is popular among many adventure seekers including mountain bikers, kayakers, hikers and anglers. The Derwent Valley Railway ventures many places otherwise unreachable by road, opening the door to new adventure tourism destinations throughout the valley. Bikes, kayaks and other equipment will be transported free of charge aboard our services.</p>
    			</div>
    		</div>
    	</div>
    </section>
    <section class="container-fluid alternate gradient wilderness">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6"></div>
    			<div class="col-md-6">
					<h2>Wilderness Within Reach</h2>
					<p>National Park Station, on the edge of Mt Field National Park, is where rail meets the wilderness of the south-west. Spectaclar waterfalls, rivers and forests are all within easy walking distance of the station. Picnic and camping facilities are also available within the National Park. </p>
    			</div>
    		</div>
    	</div>
    </section>
    <section class="container destinations py-3">
		<h2>Destinations</h2>
		<div class="row stations">
			<div class="line">
				<span>New Norfolk</span>
				<span>Plenty</span>
				<span>Westerway</span>
				<span>National Park</span>
			</div>
		</div>
    </section>
</main>
{{ end }}